nlwiki-latest-pages-articles.xml
sents-without-prefix.txt
synonyms.json
wiktionary_definitions.p
wordlist.txt
data/dutchcorpus-cleaned-sents.txt
data/wablieft-sents-cleaned.txt
data/wablieft-sents.txt
data/wiktionary2.p
simplify_sents.py
__pycache__/generate_pairs.cpython-38.pyc
__pycache__/word2vec.cpython-38.pyc
data/all-sents.txt
data/definitions.p
data/definitions2.p
data/dutchcorpus-test.txt
data/failed_words.p
data/failed_words2.p
data/sonar-320.txt
data/stop_words.txt
data/stopwords.txt
data/synonyms.p
data/synonyms2.p
data/logs/TS.GEN/out.src2trg.first-model
data/predictions/gen_lower.sen.src2trg.first-model.200.dutchcorpus-test
data/predictions/gen_lower.sen.src2trg.first-model.200.dutchcorpus-test.noredund
data/predictions/gen_lower.sen.src2trg.first-model.10000.dutchcorpus-test
data/predictions/gen_lower.sen.src2trg.first-model.10000.dutchcorpus-test.noredund
data/predictions/gen_lower.sen.src2trg.first-model.final.dutchcorpus-test
data/predictions/gen_lower.sen.src2trg.first-model.final.dutchcorpus-test.noredund
model/dict2vec-all-batch-36-100K.final.src2trg.pth
model/dict2vec-all-batch-36-100K.it18000.src2trg.pth
model/dict2vec-all-batch-36-100K.it18200.src2trg.pth
model/dict2vec-all-batch-36-100K.it18400.src2trg.pth
model/dict2vec-all-batch-36-100K.it18600.src2trg.pth
model/dict2vec-all-batch-36-100K.it18800.src2trg.pth
model/dict2vec-all-batch-36-100K.it19000.src2trg.pth
model/dict2vec-all-batch-36-100K.it19200.src2trg.pth
model/dict2vec-all-batch-36-100K.it19400.src2trg.pth
model/dict2vec-all-batch-36-100K.it19600.src2trg.pth
model/dict2vec-all-batch-36-100K.it19800.src2trg.pth
model/dict2vec-all-batch-36-100K.it20000.src2trg.pth
model/dict2vec-all-batch-36-100K.it20200.src2trg.pth
model/dict2vec-all-batch-36-100K.it20400.src2trg.pth
model/dict2vec-all-batch-36-100K.it20600.src2trg.pth
model/dict2vec-all-batch-36-100K.it20800.src2trg.pth
model/dict2vec-all-batch-36-100K.it21000.src2trg.pth
model/dict2vec-all-batch-36-100K.it21200.src2trg.pth
model/dict2vec-all-batch-36-100K.it21400.src2trg.pth
model/dict2vec-all-batch-36-100K.it21600.src2trg.pth
model/dict2vec-all-batch-36-100K.it21800.src2trg.pth
model/dict2vec-all-batch-36-100K.it22000.src2trg.pth
model/dict2vec-all-batch-36-100K.it22200.src2trg.pth
model/dict2vec-all-batch-36-100K.it22400.src2trg.pth
model/dict2vec-all-batch-36-100K.it22600.src2trg.pth
model/dict2vec-all-batch-36-100K.it22800.src2trg.pth
model/dict2vec-all-batch-36-100K.it23000.src2trg.pth
model/dict2vec-all-batch-36-100K.it23200.src2trg.pth
model/dict2vec-all-batch-36-100K.it23400.src2trg.pth
model/dict2vec-all-batch-36-100K.it23600.src2trg.pth
model/dict2vec-all-batch-36-100K.it23800.src2trg.pth
model/dict2vec-all-batch-36-50000.final.src2trg.pth
model/dict2vec-all-batch-36-50000.it18000.src2trg.pth
model/dict2vec-all-batch-36-50000.it18200.src2trg.pth
model/dict2vec-all-batch-36-50000.it18400.src2trg.pth
model/dict2vec-all-batch-36-50000.it18600.src2trg.pth
model/dict2vec-all-batch-36-50000.it18800.src2trg.pth
model/dict2vec-all-batch-36-50000.it19000.src2trg.pth
model/dict2vec-all-batch-36-50000.it19200.src2trg.pth
model/dict2vec-all-batch-36-50000.it19400.src2trg.pth
model/dict2vec-all-batch-36-50000.it19600.src2trg.pth
model/dict2vec-all-batch-36-50000.it19800.src2trg.pth
model/dict2vec-all-batch-36-50000.it20000.src2trg.pth
model/dict2vec-all-batch-36-50000.it20200.src2trg.pth
model/dict2vec-all-batch-36-50000.it20400.src2trg.pth
model/dict2vec-all-batch-36-50000.it20600.src2trg.pth
model/dict2vec-all-batch-36-50000.it20800.src2trg.pth
model/dict2vec-all-batch-36-50000.it21000.src2trg.pth
model/dict2vec-all-batch-36-50000.it21200.src2trg.pth
model/dict2vec-all-batch-36-50000.it21400.src2trg.pth
model/dict2vec-all-batch-36-50000.it21600.src2trg.pth
model/dict2vec-all-batch-36-50000.it21800.src2trg.pth
model/dict2vec-all-batch-36-50000.it22000.src2trg.pth
model/dict2vec-all-batch-36-50000.it22200.src2trg.pth
model/dict2vec-all-batch-36-50000.it22400.src2trg.pth
model/dict2vec-all-batch-36-50000.it22600.src2trg.pth
model/dict2vec-all-batch-36-50000.it22800.src2trg.pth
model/dict2vec-all-batch-36-50000.it23000.src2trg.pth
model/dict2vec-all-batch-36-50000.it23200.src2trg.pth
model/dict2vec-all-batch-36-50000.it23400.src2trg.pth
model/dict2vec-all-batch-36-50000.it23600.src2trg.pth
model/dict2vec-all-batch-36-50000.it23800.src2trg.pth
model/dict2vec-all-batch-36.final.src2trg.pth
model/dict2vec-all-batch-36.it18000.src2trg.pth
model/dict2vec-all-batch-36.it18200.src2trg.pth
model/dict2vec-all-batch-36.it18400.src2trg.pth
model/dict2vec-all-batch-36.it18600.src2trg.pth
model/dict2vec-all-batch-36.it18800.src2trg.pth
model/dict2vec-all-batch-36.it19000.src2trg.pth
model/dict2vec-all-batch-36.it19200.src2trg.pth
model/dict2vec-all-batch-36.it19400.src2trg.pth
model/dict2vec-all-batch-36.it19600.src2trg.pth
model/dict2vec-all-batch-36.it19800.src2trg.pth
model/dict2vec-all-batch-36.it20000.src2trg.pth
model/dict2vec-all-batch-36.it20200.src2trg.pth
model/dict2vec-all-batch-36.it20400.src2trg.pth
model/dict2vec-all-batch-36.it20600.src2trg.pth
model/dict2vec-all-batch-36.it20800.src2trg.pth
model/dict2vec-all-batch-36.it21000.src2trg.pth
model/dict2vec-all-batch-36.it21200.src2trg.pth
model/dict2vec-all-batch-36.it21400.src2trg.pth
model/dict2vec-all-batch-36.it21600.src2trg.pth
model/dict2vec-all-batch-36.it21800.src2trg.pth
model/dict2vec-all-batch-36.it22000.src2trg.pth
model/dict2vec-all-batch-36.it22200.src2trg.pth
model/dict2vec-all-batch-36.it22400.src2trg.pth
model/dict2vec-all-batch-36.it22600.src2trg.pth
model/dict2vec-all-batch-36.it22800.src2trg.pth
model/dict2vec-all-batch-36.it23000.src2trg.pth
model/dict2vec-all-batch-36.it23200.src2trg.pth
model/dict2vec-all-batch-36.it23400.src2trg.pth
model/dict2vec-all-batch-36.it23600.src2trg.pth
model/dict2vec-all-batch-36.it23800.src2trg.pth
model/dict2vec-all.it18000.src2trg.pth
model/dict2vec-all.it18200.src2trg.pth
model/dict2vec-all.it18400.src2trg.pth
model/dict2vec-all.it18600.src2trg.pth
model/dict2vec-all.it18800.src2trg.pth
model/dict2vec-all.it19000.src2trg.pth
model/dict2vec-all.it19200.src2trg.pth
model/dict2vec-all.it19400.src2trg.pth
model/dict2vec-all.it19600.src2trg.pth
model/dict2vec-all.it19800.src2trg.pth
model/dict2vec-all.it20000.src2trg.pth
model/dict2vec-all.it20200.src2trg.pth
model/dict2vec-all.it20400.src2trg.pth
model/dict2vec-all.it20600.src2trg.pth
model/dict2vec-all.it20800.src2trg.pth
model/dict2vec-all.it21000.src2trg.pth
model/dict2vec-all.it21200.src2trg.pth
model/dict2vec-all.it21400.src2trg.pth
model/dict2vec-all.it21600.src2trg.pth
model/dict2vec-all.it21800.src2trg.pth
model/dict2vec-all.it22000.src2trg.pth
model/dict2vec-all.it22200.src2trg.pth
model/dict2vec-all.it22400.src2trg.pth
model/dict2vec-all.it22600.src2trg.pth
model/dict2vec-all.it22800.src2trg.pth
model/dict2vec-all.it23000.src2trg.pth
model/dict2vec-all.it23200.src2trg.pth
model/dict2vec-all.it23400.src2trg.pth
model/dict2vec-all.it23600.src2trg.pth
model/dict2vec-all.it23800.src2trg.pth
model/word2vec.cbow.final.src2trg.pth
model/word2vec.cbow.it200.src2trg.pth
model/word2vec.cbow.it400.src2trg.pth
model/word2vec.cbow.it600.src2trg.pth
model/word2vec.cbow.it800.src2trg.pth
model/word2vec.cbow.it1000.src2trg.pth
model/word2vec.cbow.it1200.src2trg.pth
model/word2vec.cbow.it1400.src2trg.pth
model/word2vec.cbow.it1600.src2trg.pth
model/word2vec.cbow.it1800.src2trg.pth
model/word2vec.cbow.it2000.src2trg.pth
model/word2vec.cbow.it2200.src2trg.pth
model/word2vec.cbow.it2400.src2trg.pth
model/word2vec.cbow.it2600.src2trg.pth
model/word2vec.cbow.it2800.src2trg.pth
model/word2vec.cbow.it3000.src2trg.pth
model/word2vec.cbow.it3200.src2trg.pth
model/word2vec.cbow.it3400.src2trg.pth
model/word2vec.cbow.it3600.src2trg.pth
model/word2vec.cbow.it3800.src2trg.pth
model/word2vec.cbow.it4000.src2trg.pth
model/word2vec.cbow.it4200.src2trg.pth
model/word2vec.cbow.it4400.src2trg.pth
model/word2vec.cbow.it4600.src2trg.pth
model/word2vec.cbow.it4800.src2trg.pth
model/word2vec.cbow.it5000.src2trg.pth
model/word2vec.cbow.it5200.src2trg.pth
model/word2vec.cbow.it5400.src2trg.pth
model/word2vec.cbow.it5600.src2trg.pth
model/word2vec.cbow.it5800.src2trg.pth
model/word2vec.cbow.it6000.src2trg.pth
model/word2vec.cbow.it6200.src2trg.pth
model/word2vec.cbow.it6400.src2trg.pth
model/word2vec.cbow.it6600.src2trg.pth
model/word2vec.cbow.it6800.src2trg.pth
model/word2vec.cbow.it7000.src2trg.pth
model/word2vec.cbow.it7200.src2trg.pth
model/word2vec.cbow.it7400.src2trg.pth
model/word2vec.cbow.it7600.src2trg.pth
model/word2vec.cbow.it7800.src2trg.pth
model/word2vec.cbow.it8000.src2trg.pth
model/word2vec.cbow.it8200.src2trg.pth
model/word2vec.cbow.it8400.src2trg.pth
model/word2vec.cbow.it8600.src2trg.pth
model/word2vec.cbow.it8800.src2trg.pth
model/word2vec.cbow.it9000.src2trg.pth
model/word2vec.cbow.it9200.src2trg.pth
model/word2vec.cbow.it9400.src2trg.pth
model/word2vec.cbow.it9600.src2trg.pth
model/word2vec.cbow.it9800.src2trg.pth
model/word2vec.cbow.it10000.src2trg.pth
model/word2vec.cbow.it10200.src2trg.pth
model/word2vec.cbow.it10400.src2trg.pth
model/word2vec.cbow.it10600.src2trg.pth
model/word2vec.cbow.it10800.src2trg.pth
